<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container py-5">
        <!-- <input id="userid" type="text" placeholder="UserId" value="123">
        <input id="username" type="text" placeholder="Username" value="rajan"> -->
        <select id="userid"><option value="123">123</option><option value="789">789</option> </select>
        <button id="submit-userid" class="btn btn-success rounded-pill">Submit</button>
    
        <h4 class="pt-3 text-center">My Messanger</h4>
        <div class="row" id="main-content">
            <div id="user-pane" class="col-4">
                
            </div>
            <div id="chat-pane" class="col-8">
                <div id="selcted-user-details" hidden="hidden">
                    <span id="chat-user-image" class="fas fa-user"></span>
                    <span id="chat-username"></span>
                </div>
                <div id="message-pane" hidden="hidden">
                    
                </div>
                <div id="type-pane" class="d-none justify-content-center align-items-center">
                    <textarea id="send-message" class="form-control ml-2" placeholder="Enter your message..." cols="30" rows="1">heyyy</textarea>
                    <button id="send-btn" class="btn btn-success rounded-circle mx-2"><i class="fas fa-paper-plane"></i></button>
                </div>
            </div>
        </div>

        <p>All Users</p>
        <ul id="all-users">

        </ul>
    </div>





    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>

    <script src="/js/socket.js"></script>
    <script src="/js/utils.js"></script>
</body>
</html>